.skeleton {
  position: relative;
  width: max-content;
  overflow: hidden;
  border-radius: 4px;
  background-color: #f2f2f2 !important;
  color: transparent !important;
  border-color: #f2f2f2 !important;
  user-select: none;
  cursor: default;
}

.skeleton img {
  opacity: 0;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(to right, #ffefba, #ffffff);
  animation: shimmer 1.5s infinite;
  animation-timing-function: ease-in-out;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
